In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
org_df = pd.read_csv('Chicago_Crime_Detective.csv')
org_df.head()

/home/dhrubanka/.local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year
0,8951354,12/31/12 23:15,STREET,False,False,623,6,69,2012
1,8951141,12/31/12 22:00,STREET,False,False,1213,12,24,2012
2,8952745,12/31/12 22:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012
3,8952223,12/31/12 22:00,STREET,False,False,724,7,67,2012
4,8951608,12/31/12 21:30,STREET,False,False,211,2,35,2012

In [3]:
org_df.dtypes

ID                      int64
Date                   object
LocationDescription    object
Arrest                   bool
Domestic                 bool
Beat                    int64
District               object
CommunityArea          object
Year                    int64
dtype: object

In [4]:
# Extract day, month and time from date
copy = org_df
days = []
months = []
times = []
for test in copy['Date']:
    parts = test.split()
    month,day,_ = parts[0].split('/')
    days.append(int(day))
    months.append(int(month))
    times.append(parts[1])

In [5]:
copy['Month'] = months
copy['Day'] = days
copy['Time'] = times

In [6]:
copy.head()

,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year,Month,Day,Time
0,8951354,12/31/12 23:15,STREET,False,False,623,6,69,2012,12,31,23:15
1,8951141,12/31/12 22:00,STREET,False,False,1213,12,24,2012,12,31,22:00
2,8952745,12/31/12 22:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012,12,31,22:00
3,8952223,12/31/12 22:00,STREET,False,False,724,7,67,2012,12,31,22:00
4,8951608,12/31/12 21:30,STREET,False,False,211,2,35,2012,12,31,21:30

In [7]:
# Median month and year of dataset - Q1
print('The median month is',copy['Month'].median())
print('The median year is',copy['Year'].median())

('The median month is', 7.0)
('The median year is', 2006.0)

In [8]:
# Least active month
print('The least active month is',copy['Month'].value_counts())

('The least active month is', 10    17086
7     16801
8     16572
12    16426
11    16063
9     16060
1     16047
5     16035
6     16002
3     15758
4     15280
2     13511
Name: Month, dtype: int64)

In [9]:
# Most active weekday
print('The most active weekday is',copy['Day'].value_counts())

('The most active weekday is', 15    6690
12    6455
20    6453
1     6446
21    6410
10    6404
19    6388
28    6386
27    6379
17    6361
23    6361
14    6355
5     6339
7     6329
18    6304
22    6278
11    6254
16    6243
25    6230
6     6219
26    6218
13    6208
8     6184
9     6180
24    6155
2     6098
3     6096
4     5947
29    5862
30    5750
31    3659
Name: Day, dtype: int64)

In [15]:
# Month with most arrests
monthArrests = {x:0 for x in range(1,13)}
for row in copy.itertuples():
    if row.Arrest==True:
        monthArrests[row.Month]+=1
monthArrests

{1: 1435,
 2: 1238,
 3: 1298,
 4: 1252,
 5: 1187,
 6: 1230,
 7: 1324,
 8: 1329,
 9: 1248,
 10: 1342,
 11: 1256,
 12: 1397}

In [19]:
# Counts of years - Select true statements
yearCounts = {}
for i in range(2002,2013):
    count = 0
    for j in copy['Year']:
        if j==i:
            count+=1
    yearCounts[i]=count
yearCounts

{2001: 20669,
 2002: 18753,
 2003: 16657,
 2004: 16862,
 2005: 16484,
 2006: 16098,
 2007: 14280,
 2008: 14445,
 2009: 12167,
 2010: 15497,
 2011: 15637,
 2012: 14092}

In [17]:
# Which half had more arrests
halfArrests = {1:0,2:0}
for row in copy.itertuples():
    if row.Arrest==True and row.Year<2007:
        halfArrests[1]+=1
    elif row.Arrest==True and row.Year>2007:
        halfArrests[2]+=1
halfArrests

{1: 10588, 2: 3736}

In [28]:
# propotion of arrests in 2001
yearArrests = {x:0 for x in range(2001,2013)}
for row in copy.itertuples():
    if row.Arrest==True:
        yearArrests[row.Year]+=1
yearArrests

{2001: 2152,
 2002: 2115,
 2003: 1798,
 2004: 1693,
 2005: 1528,
 2006: 1302,
 2007: 1212,
 2008: 1020,
 2009: 840,
 2010: 701,
 2011: 625,
 2012: 550}

In [32]:
# Top five locations for thefts
copy.LocationDescription.value_counts()

STREET                                             156564
PARKING LOT/GARAGE(NON.RESID.)                      14852
OTHER                                                4573
ALLEY                                                2308
GAS STATION                                          2111
DRIVEWAY - RESIDENTIAL                               1675
RESIDENTIAL YARD (FRONT/BACK)                        1536
RESIDENCE                                            1302
RESIDENCE-GARAGE                                     1176
VACANT LOT/LAND                                       985
VEHICLE NON-COMMERCIAL                                817
SIDEWALK                                              462
CHA PARKING LOT/GROUNDS                               405
AIRPORT/AIRCRAFT                                      363
POLICE FACILITY/VEH PARKING LOT                       266
PARK PROPERTY                                         255
SCHOOL, PUBLIC, GROUNDS                               206
APARTMENT                                             184
SPORTS ARENA/STADIUM                                  166
CTA GARAGE / OTHER PROPERTY                           148
COMMERCIAL / BUSINESS OFFICE                          126
HOTEL/MOTEL                                           124
SCHOOL, PUBLIC, BUILDING                              114
HOSPITAL BUILDING/GROUNDS                             101
GROCERY FOOD STORE                                     80
CHURCH/SYNAGOGUE/PLACE OF WORSHIP                      56
RESTAURANT                                             49
GOVERNMENT BUILDING/PROPERTY                           48
COLLEGE/UNIVERSITY GROUNDS                             47
CAR WASH                                               44
                                                    ...
AIRPORT VENDING ESTABLISHMENT                          10
ATHLETIC CLUB                                           9
OTHER COMMERCIAL TRANSPORTATION                         8
DRUG STORE                                              8
BANK                                                    7
CONVENIENCE STORE                                       7
FOREST PRESERVE                                         6
FIRE STATION                                            5
AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA          5
DAY CARE CENTER                                         5
CHA APARTMENT                                           5
AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA         4
ABANDONED BUILDING                                      4
LAKEFRONT/WATERFRONT/RIVERBANK                          4
LIBRARY                                                 4
SAVINGS AND LOAN                                        4
BARBERSHOP                                              4
CLEANING STORE                                          3
MEDICAL/DENTAL OFFICE                                   3
BOWLING ALLEY                                           3
COLLEGE/UNIVERSITY RESIDENCE HALL                       2
BRIDGE                                                  2
CURRENCY EXCHANGE                                       2
APPLIANCE STORE                                         1
CTA TRAIN                                               1
JAIL / LOCK-UP FACILITY                                 1
AIRPORT EXTERIOR - SECURE AREA                          1
AIRPORT BUILDING NON-TERMINAL - SECURE AREA             1
ANIMAL HOSPITAL                                         1
NEWSSTAND                                               1
Name: LocationDescription, Length: 78, dtype: int64

In [33]:
# Counts of days
dayCounts = {}
for i in range(1,32):
    count = 0
    for j in copy['Day']:
        if j==i:
            count+=1
    dayCounts[i]=count
dayCounts

{1: 6446,
 2: 6098,
 3: 6096,
 4: 5947,
 5: 6339,
 6: 6219,
 7: 6329,
 8: 6184,
 9: 6180,
 10: 6404,
 11: 6254,
 12: 6455,
 13: 6208,
 14: 6355,
 15: 6690,
 16: 6243,
 17: 6361,
 18: 6304,
 19: 6388,
 20: 6453,
 21: 6410,
 22: 6278,
 23: 6361,
 24: 6155,
 25: 6230,
 26: 6218,
 27: 6379,
 28: 6386,
 29: 5862,
 30: 5750,
 31: 3659}