In [1]:
# drop passangerID, Name, Parch, SibSb, Ticket, Embarked
import pandas as pd
df_old = pd.read_csv('titanic.csv')
df_old.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df = df_old.drop(['PassengerId','Survived','Name','Parch','SibSp','Ticket','Embarked',
                 'Cabin'],axis = 'columns')
print(df.head())
target = df_old['Survived']
target.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
le_Pclass = LabelEncoder()
le_Sex = LabelEncoder()
le_Age = LabelEncoder()
le_Fare = LabelEncoder()

In [6]:
df['Pclass_n'] = le_Pclass.fit_transform(df['Pclass'])
df['Sex_n'] = le_Sex.fit_transform(df['Sex'])
df['Age_n'] = le_Age.fit_transform(df['Age'])
df['Fare_n'] = le_Fare.fit_transform(df['Fare'])
df.head()

   Pclass     Sex   Age     Fare  Pclass_n  Sex_n  Age_n  Fare_n
0       3    male  22.0   7.2500         2      1     28      18
1       1  female  38.0  71.2833         0      0     51     207
2       3  female  26.0   7.9250         2      0     34      41
3       1  female  35.0  53.1000         0      0     47     189
4       3    male  35.0   8.0500         2      1     47      43

In [27]:
df = df.drop(['Pclass','Sex','Age','Fare'], axis = 'columns')
df.head()

In [28]:
len(target)

891

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.33)

In [40]:
print(len(X_train),len(X_test),len(y_train),len(y_test))

(596, 295, 596, 295)

In [41]:
from sklearn import tree
model = tree.DecisionTreeClassifier(criterion='entropy')
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [42]:
model.score(X_test,y_test)

0.8033898305084746